.genre-row {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap:55px;
    flex-shrink: 0;
    background-color: #141414;
    color: #f5f5f1;
    padding-left: 60px;
}

.genre {
    font-family:"Helvetica Neue";
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    height: 43px;

}

.genre:hover {
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 15px;
}