.original {
    padding-top:55px;
    background-color: #141414;
    margin-left:0;
    padding-left: 60px;
}

.original h4 {
    background-color: #141414;
    color: #f5f5f1;
    text-transform: uppercase;
    font-family: "Helvetica Neue";
    font-size:20px;
    font-weight: bold;
    margin-bottom: 11px;
    margin-top: 0;
}

.original-row {
    flex-shrink: 0;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */

}

.image {
    height: 434px;
}

.image img {
    height: 100%;
}